@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> @ViewBag.Greeting, kallis sõber!</h1>

</div>

<div>
    @ViewBag.Message
    <img src="~/Images/kutse.jpeg" />
</div>
<div>
    @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
</div>