@model Kutse.Models.Guest

@{
    ViewBag.Title = "Thanks";
}
<div>
    <p> Tänan sind, @Model.Name </p>

</div>
<div>
    @if (Model.WillAttend == true)
        {
            @:Ootame sind kallis sõber!
            <p>
                <img src="~/Images/kutse.jpeg" />
            </p>
        }
    else
        {
        @:Väga kutb uudis. Näeme hiljem!
        <p>
            <img src="~/Images/kutse.jpeg"
        </p>

        }
    @ViewBag.Message
</div>
